.container1 {
  border: none;
  background-color: #e6e6e6;
  width: 360px;
  height: 473px;
  margin-left: 25px; }

.container2 {
  padding: 40px 25px 35px 25px; }

.input1 {
  width: 300px;
  height: 45px;
  border: none;
  padding-left: 10px; }

.button3 {
  width: 300px;
  height: 45px;
  background-color: #275a53;
  color: white;
  margin-top: 20px; }
