.body1 {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("https://i.imgur.com/VpR3JMH.jpg");
  background-size: cover;
  background-position: center;
  background-color: #000;
  color: #000;
  height: 200px; }

h1 {
  color: white;
  text-align: center;
  padding-top: 70px;
  font-weight: bold;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

.center {
  text-align: center;
  padding-top: 30px; }

.button {
  padding: 10px 30px 10px 30px;
  margin-left: 20px;
  font-size: 15px;
  border-radius: 5px;
  color: white;
  font-size: 25pxx;
  border: 1px solid #275a53;
  background-color: #275a53; }
